
<nav class="navbar bg-light fixed-top">
    <div class="container">
      <a class="navbar-brand">
        <img src="assets/svg/pokeball.svg" alt="" height="35px" width="35px">
        <span class="text-dark ms-2">PokéList</span></a>
      <button class=" btn  hamburger hamburger--collapse " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" (click)="changeHambur()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Offcanvas</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="/home">
               
                Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/pokeList">Pokémon List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/pokeListFav">Favorites</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>