
<nav class="navbar bg-light fixed-top  fade-in-top">
    <div class="container">
      <a class="navbar-brand" >
        <img src="assets/img/logo.png" alt="" height="35px" width="35px"></a>
      <button class=" btn  hamburger hamburger--collapse"  #hamburger  type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
        <span class="hamburger-box">
          <span class=" hamburger-inner"></span>
        </span>
      </button>
      <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Menu</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active text-dark" aria-current="page"  routerLinkActive="active" routerLink="/home" [routerLinkActiveOptions]="{exact:true}">
                <i class="bi bi-house-door me-2"></i>Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark"  routerLinkActive="active" routerLink="/pokeList">
                <i class="bi bi-list me-2"></i>Pokémons List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" routerLinkActive="active" routerLink="/pokeListFav">
                  <i class="bi bi-suit-heart-fill me-2"></i>Favorites</a>
              </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>