<body>
    <div class="container-fluid p-5 mt-5">
        <div class="container">
            <div class="container" style="position: relative;">
                <div class="row container-home">
                    <div class="col-sm-12 col-md-6" data-aos="fade-right">
                        <h1 class="mb-3 fw-semibold lh-lg title font-monospace ">Pokémon List</h1>
                        <p class="lh-lg sub-title fs-4">Welcome to the pokémon list, Catch all the pokémons and see your favorite pokémons. </p>
                        <button class="btn btn-danger btn-lg rounded-pill shadow mt-5 btn-title px-4"
                            routerLink="/pokeList">View PokéLista</button>
                    </div>
                    <div class="col-sm-12 col-md-6 image " data-aos="fade-left">
                        <div class="pika  text-center">
                            <img src="/assets/img/pikachu.png" class="img-fluid" alt="" width="700" height="700" 
                                style="filter: drop-shadow(39px 0px 23px #589fad);">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 image-responsive " data-aos="fade-left">
                        <div class="pika  text-center">
                            <img src="/assets/img/ash.png" class="img-fluid" alt="" width="700" height="700">
                        </div>
                    </div>
                    <div class="layer shadow"></div>
                </div>
            </div>
            <div class="row mt-15 mb-10 container-cards justify-content-center" style="position: relative; z-index: 10;">
                <div class="text-center mb-10 title-container" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                data-aos-delay="100">
                    <h2 class=" fw-semibold lh-lg title-card  font-monospace">Kanto starter pokémon
                    </h2>
                </div>
                <div class="col-md-12 col-lg-4 gutter-b">
                    <div class="card card-custom border-0 shadow" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-delay="200">
                        <div class="card-header bg-danger p-4"></div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-body p-4 py-5">
                            <div class="row">
                                <div class="col card-image">
                                    <img src="/assets/img/bulbasur.png"
                                        class="rounded float-start rounded-pill  border border-4 img-card img-fluid shadow"
                                        alt="..." width="165">
                                </div>
                                <div class="col card-title-container">
                                    <h3 class="card-title font-monospace  fw-bolder">Bulbasaur </h3>
                                    <h6>Type: plant-poison</h6>
                                    <h6>stage: Basic</h6>
                                    <h6>Evolution: Ivysaur</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-footer p-4">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 gutter-b">
                    <div class="card card-custom border-0 shadow" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-delay="400">
                        <div class="card-header bg-danger p-4">
                        </div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-body p-4 py-5">
                            <div class="row">
                                <div class="col card-image">
                                    <img src="/assets/img/Charmander.png"
                                        class="rounded float-start rounded-pill  border border-4 img-card img-fluid shadow"
                                        alt="..." width="140" height="140">
                                </div>
                                <div class="col card-title-container">
                                    <h3 class="card-title font-monospace  fw-bolder">Charmander</h3>
                                    <h6>Type: Fire</h6>
                                    <h6>stage: Basic</h6>
                                    <h6>Evolution: Charizard</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-footer p-4">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4 gutter-b">
                    <div class="card card-custom border-0 shadow" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom"
                        data-aos-delay="600">
                        <div class="card-header bg-danger p-4">
                            <!-- <div class="bg-white p-5 rounded-pill w-25 border border-5 border-dark"></div> -->
                        </div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-body p-4 py-5">
                            <div class="row">
                                <div class="col card-image">
                                    <img src="/assets/img/squilter.png"
                                        class="rounded float-start rounded-pill  border border-4 img-card img-fluid shadow"
                                        alt="..." width="150" height="150">
                                </div>
                                <div class="col card-title-container">
                                    <h3 class="card-title font-monospace fw-bolder">squirtle</h3>
                                    <h6>Type: water</h6>
                                    <h6>Stage: Basic</h6>
                                    <h6>Evolution: Ivysaur</h6>
                                </div>
                            </div>
                        </div>
                        <div class="bg-dark w-100 p-1"></div>
                        <div class="card-footer p-4">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>